@model AdvertisementAppUserCreateModel


<form asp-action="Send" asp-controller="Advertisement" method="post">
    <div class="mb-3">
        <input type="hidden" asp-for="AdvertisementId" />
    </div>
</form>